@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Please return home and try again</h3>
<h4>If this problem persists, contact your system administrator</h4>
