@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "401";
}

<!DOCTYPE html>
<html>
<div id="overlayloader" class="overlayloader">
    <div class="loader"></div>
</div>  
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/account/auth.css" asp-append-version="true" />
    <title>City of Pittsburgh</title>
</head>
<body>

    <div class="row login">
        <div class="col-md-12">
            <img src="~/images/dpw_icon.jpg" class="img-responsive center-block" style="opacity: 0.8; max-height: 350px !important;"/> 
        </div>
        <div class="col-md-12 text-center">
            <h1 style="letter-spacing: 1px; padding: 3px; margin-top: .2em; !important;">Sorry,<br/><strong>you don't have access.</strong></h1>
        </div>
    </div>

    <script src="~/js/account/auth.js" asp-append-version="true"></script>
</body>
</html>