@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<div id="overlayloader" class="overlayloader">
    <div class="loader"></div>
</div>  
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/account/auth.css" asp-append-version="true" />
    <title>DPW Maintenance Requests</title>
</head>
<body>

    <div class="row login">
        <div class="col-md-12">
            <img src="~/images/dpw_icon.jpg" class="img-responsive center-block" style="opacity: 0.8; max-height: 350px !important; margin-bottom: 25px;"/> 
        </div>
        <div class="col-md-12 text-center">
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                <div> 
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button id="login" style="letter-spacing: 1px; font-weight: bold; margin-top: .5em !important;" type="submit" class="btn btn-default overlaytrigger" name="provider" value="@provider.Name" title="Log in using your City email">Log in</button>
                        }
                    </p>
                </div>
            </form>
        }
        </div>
    </div>

<script src="~/js/account/auth.js" asp-append-version="true"></script>
</body>
</html>