@{
    ViewData["Title"] = "Work order";
}
@model WorkOrder
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/workorder.js"></script>
<script src=@ViewData["apistringmap"] async defer ></script>

<form asp-controller="New" asp-action="Submit" method="post" id="form" style="display:none;">
<div class="row">
  <div class="col-sm-3"></div>
    <div class="col-md-12">
        <div id="map"></div>
    </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Describe the request</h3>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="OwnersLastName" class="form-control">
                <span asp-validation-for="OwnersLastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="OwnersFirstName" class="form-control">
                <span asp-validation-for="OwnersFirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input asp-for="CitationNumber" class="form-control">
                <span asp-validation-for="CitationNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <textarea rows="3" asp-for="Comments" class="form-control" onkeyup="textAreaAdjust(this)"></textarea>
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
    <div class="col-md-12">
        <input style="float: left; margin: 10px;" type="button" value="&laquo; Back" class="btn btn-default overlaytrigger" onclick="location.href='@Url.Action("Index", "Home")'"/>
        <input style="float: right; margin: 10px;" type="submit" id="submit" value="Next &raquo;" class="btn btn-default overlaytrigger"/>
    </div>
</div>
</form>