@model Facility
<tr>
    <td>
    <a target="_blank" style="font-size: 16px;">Select</a>
    </td>
    <td>
    <div id="oid" hidden>@Model.OID</div>
    <div id="name">@Model.FacilityName</div>
    </td>
    <td>
    <div id="neighborhood">@Model.Neighborhood</div>
    </td> 
</tr>