@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}
@model List<Facility>
<link rel="stylesheet" href="~/css/datatables.css">
<link rel="stylesheet" href="~/css/home.css">
<div id="shapes" hidden>@ViewBag.Shapes</div>

<div class="row">
  <div class="col-md-12" id="column">
    <div id="map"></div>
  </div>
</div>

<!-- table of facilities, div pushed to bottom of map -->
<div class="row col-md-12">
  <div class="headercontainer text-center hidden-sm hidden-xs hidden-md" id="headercontainer">
    <h3 style="color:#fffaee;">Select a facility from the map, <br/> or select a facility from the table</h3>
  </div>
  <div class="tablecontainer" id="tablecontainer">
    <input id="search" class="form-control searchbar" type="text" placeholder="Search...">
    <table id="dt" class="table table-striped dataTable" cellspacing="0">
        <thead>
        </tr>
            <tr>
                <th style="width:10% !important;" class="all"></th>
                <th style="width:40% !important;"class="all">Facility</th>
                <th style="width:20% !important;">Neighborhood</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Facility item in Model)
        {
          @Html.Partial("~/Views/Home/_Facility.cshtml", item)
        }
        </tbody>
    </table>
  </div>
</div>

<!-- user's submitted items, dialog -->

<!-- work order form, dialog -->

<!-- submission confirmation elements, dialog -->
<div id="status" hidden>@ViewBag.Trigger</div>
<div id="dialog" title="Success!" style="text-align: center; margin-top: 10px;">
  <div class="row">
    <div class="col-md-4">
      <img src="~/images/dpw_icon.jpg" class="img-responsive center-block" style="opacity: 0.8;"/>       
    </div>
    <div class="col-md-8">
      <div class="row">Your issue was submitted successfully,</div>
      <div class="row"><strong>Thanks for your time</strong></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/datatables.js"></script>
<script type="text/javascript" src="~/js/jqueryUI.js"></script>
<script type="text/javascript" src="~/js/home.js"></script>
<script src=@ViewData["apistring"] async defer ></script>

