@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}
@model List<Facility>
<link rel="stylesheet" href="~/css/datatables.css">
<link rel="stylesheet" href="~/css/home.css">
<div id="shapes" hidden>@ViewBag.Shapes</div>

<div class="row">
  <div class="col-md-12" id="column">
    <div id="map"></div>
  </div>
</div>

<!-- table of facilities, div pushed to bottom of map -->
<div class="row col-md-12">
  <div class="headercontainer text-center hidden-sm hidden-xs hidden-md" id="headercontainer">
    <h3 style="color:#fffaee; cursor: default;" id="helper"> Select a facility from the map, <br/> or search the table</h3>
  </div>
  <div class="tablecontainer" id="tablecontainer">
    <input id="search" class="form-control searchbar" type="text" placeholder="Search...">
    <table id="dt" class="table table-striped dataTable" cellspacing="0">
        <thead>
        </tr>
            <tr>
                <th style="width:10% !important;" class="all"></th>
                <th style="width:40% !important;"class="all">Facility</th>
                <th style="width:20% !important;">Neighborhood</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Facility item in Model)
        {
          @Html.Partial("~/Views/Home/_Facility.cshtml", item)
        }
        </tbody>
    </table>
  </div>
    <!-- reset table and map -->
  <div class="backbutton text-center" id="back" hidden>
      <input style="width: 100%; border-radius: 5px;" type="button" value="Start over" class="btn btn-default" onclick=""/>
  </div>
</div>

<!-- user's submitted items, dialog -->

<!-- work order form -->
<div id="form" class="form-card" hidden>
    <form id="formdata" method="post" class="form">
    <input name="Name" id="formname" required hidden>
    <div class="row" style="overflow:visible">
        <div class="col-md-12" id="requestcard">
            <h3>Report an issue</h3>
            <div class="form-group" style="margin-bottom: 5px;">
                <div class="col-md-12">
                    <select name="Issue" data-style="btn-info" class="selectpicker form-control" title="Select issue type" required="true" data-dropup-auto="false">
                        @foreach(var Issue in ViewBag.Issues)
                        {
                        <option>@Issue.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <textarea name="Description" class="form-control" placeholder="Describe the issue" onkeyup="textAreaAdjust(this)"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <textarea name="LocationDescription" class="form-control" placeholder="Identify the location (floor, room, etc.)"onkeyup="textAreaAdjust(this)"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input mame="Phone" class="form-control" placeholder="Enter your phone number">
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <input style="margin: 10px 0; width: 100%; font-weight: bold; border-radius: 5px;" onclick="submititem()" value="Submit" class="btn btn-default overlaytrigger"/>
            </div>
        </div>
    </div>
    </form>
</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/datatables.js"></script>
<script type="text/javascript" src="~/js/jqueryUI.js"></script>
<script type="text/javascript" src="~/js/home.js"></script>
<script src=@ViewData["apistring"] async defer ></script>

