@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}

<link rel="stylesheet" href="~/css/home.css">
<div class="row">
  <div class="col-md-12" id="column">
    <div id="map"></div>
  </div>
</div>

<!-- user's submitted items -->

<!-- table of facilities -->

<!-- work order form -->

<!-- submission confirmation elements -->
<div id="status" hidden>@ViewBag.Trigger</div>
<div id="dialog" title="Success!" style="text-align: center; margin-top: 10px;">
  <div class="row">
    <div class="col-md-4">
      <img src="~/images/dpw_icon.jpg" class="img-responsive center-block" style="opacity: 0.8;"/>       
    </div>
    <div class="col-md-8">
      <div class="row">Your issue was submitted successfully,</div>
      <div class="row"><strong>Thanks for your time</strong></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/jqueryUI.js"></script>
<script type="text/javascript" src="~/js/home.js"></script>
<script src=@ViewData["apistring"] async defer ></script>

