@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css">
<div class="row">
  <div class="col-md-12" id="column">
    <div id="map">
        <iframe id="iframe" src="https://tst1.azurewebsites.us/"></iframe>
    </div>
  </div>
</div>