@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_MapLayout.cshtml";
}

<link rel="stylesheet" href="~/css/home.css">
<div class="row">
  <div class="col-md-12" id="column">
    <div id="map">
        <iframe id="iframe" src="https://pittsburghpa.shinyapps.io/DPW-facilities/"></iframe>
    </div>
  </div>
</div>