html, body, .container, .row, #column, #AddresForm, #column {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 0px !important;
    margin-bottom:0px; 
    overflow: hidden;
  }
  .body-content {
    padding: 0px !important;
    overflow: hidden !important;
  }
  #AddressForm, .row {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 0px !important;
  }
  #map {
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    padding: 10px !important;
  }
  #iframe {
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    border-width: 0px !important;
    overflow: hidden !important;
  }
  footer {
    display: none;
  }
  .navbar-head { 
    float: left;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
  }
/* jquery ui dialog box */
.ui-dialog {
  z-index: 1500!important;
  position:absolute !important;
  border-radius: 10px;
}
.ui-widget-header {
  background: #fffaee;
  color: #383838;
  padding: 5px;
  border-radius: 8px 8px 0 0;
}
.ui-widget-content { 
  color: #383838;
  font-size: 14px;
}
.ui-dialog-title {
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 2px;
}
.form-card { 
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-left: 75px;
  margin-bottom: 150px;
  width: 400px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
  overflow: visible;
}
.tablecontainer {
  width: 25%;
  height: 95%;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
  overflow: auto;
  position: relative;
}
.headercontainer {
  background-color: rgba(56, 56, 56, 0.85);
  padding: 5px 10px 10px 10px;
  width: 35%;
  height: auto;
  opacity: 0.9;
  border-radius: 10px;
  margin: 15px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
  overflow: auto;
}
.backbutton {
  width: 24%;
  position: absolute;
  z-index: 1030;
  margin: 15px;
  margin-bottom: 20px;
}
.searchbar {
  width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.form-card { 
  text-align: center;
  background-color: white;
  border-radius: 10px;
  margin-right: 50px;
  width: 400px;
  box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
  overflow: visible;
}
.form { 
overflow: visible;
}
.dropdown-menu open {
  overflow: visible; 
}
.dropdown-menu inner { 
  overflow: visible; 
}
.dropdown-menu { 
overflow: visible; 
}
.ui-dialog-titlebar-close { 
  width: 25px !important; 
  height: 25px !important; 
}
.alternativeprompt {
  padding: 15px;
  font-size: 20px;
  text-align: center;
}