html, body, .container, .row, #column, #AddresForm, #column {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 0px !important;
    margin-bottom:0px; 
    overflow: hidden;
  }
  .body-content {
    padding: 0px !important;
    overflow: hidden !important;
  }
  #AddressForm, .row {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 0px !important;
  }
  #map {
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    padding: 10px !important;
  }
  #iframe {
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    border-width: 0px !important;
    overflow: hidden !important;
  }
  footer {
    display: none;
  }
  .navbar-head { 
    float: left;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
  }
/* jquery ui dialog box */
.ui-widget-header {
  background: #fffaee;
  color: #383838;
}
.ui-widget-content { 
  color: #383838;
  font-size: 20px;
}
.ui-dialog-title { 
  font-style: italic;
}