html, body, .container, .row, #column {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    margin:0px; 
    overflow: hidden;
}
.body-content {
    padding: 0px !important;
    overflow: hidden !important;
}
body {
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px;
}
footer {
    display: none;
}
h1, h2, h3, h4, h5 {
    color: #383838;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 0px 20px 20px 0px;
}
::-webkit-scrollbar-thumb {
    background: rgb(44, 62, 80); 
    border-radius: 25px
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* navbar style */
.navbar-inverse { 
    background-color: rgb(44, 62, 80) !important; 
    border-color: rgba(202, 205, 206, .5) !important;
}
.navbar-head {
    color: #fffaee !important;
    letter-spacing: 1.5px;
    float: left;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-header {
    padding: 0px 25px !important;
}
.navbar-right {
    margin-right: -5px;
}
.navbar-toggle {
    margin-right: -5px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fffaee;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent !important;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(26, 36, 47) !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fffaee !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: 0px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/* form styles */
/* text box */
.form-control {
    margin: 5px 0px !important;
    border-radius: 10px;
    border: .4px solid rgba(44, 62, 80, .5);
    padding: 8px 15px !important;
    height: auto;
    background-color: transparent;
    line-height: 1.8;
    color: #383838;
}
.btn-form-control {
    margin: 5px 0 !important;
    height: auto;
    width: 100%;
    background-color: transparent;
    line-height: 1.8;
    outline: none;
}
/* formatting for read-only fields */
.no-border {
    border: 0;
    box-shadow: none;
    background-color: transparent !important;
}
/* datepicker */
input[readonly].datepicker{
    padding: 6px 12px !important;
    font-size: 14px  !important;
    font-weight: normal  !important;
    color: #555 !important;
    background-color: white  !important;
    border: 1px solid #ccc  !important;
    border-radius: 4px  !important;
}
/* hide overflow of text area boxes, in conjunction with script in site.js */
textarea { 
    overflow: hidden;
}
/* format dropdown buttons to look like other fields*/
button.bs-placeholder[role='button']>span {
    color:#999;
}
/* positioning success icon in address form */
.right-inner-addon {
    position: relative !important;
}
/* coloring success icon */
.icon-textbox {
    font-size: 1.8em; 
    color: #29a329;
    margin-top: 2px;  
    margin-right: -4px;
}
.form-h5 {
    margin-left: 15px;
    text-align: left !important;
    font-size: 14px;
    margin-bottom: 0px;
}

/* button styles */
.btn-link {
    margin-left: 5px;
    outline: none;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
    border: .5px solid #fffaee;
    background-color: transparent !important;
    outline: none;
}
.btn-default:active, .btn-big:active, .btn-default:focus, .btn-big:focus, .btn-default:hover, .btn-big:hover {
    background-color: rgb(26, 36, 47) !important;
    color: white !important;
    outline: none;
 }
.btn-success { 
    background-color:#383838;
    color: white;
    box-shadow: none !important;
}
.btn-default {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: .5px rgb(186, 134, 6);
    border-style: solid;
    border-radius: 10px;
    /* transitions */
    transition: all .3s ease 0s;
    /* other */
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .0);
    outline: none;
    background-color:transparent;
    padding: 10px 15px;
    margin: 15px 7px;
    width: 200px;
  }
.btn-big {
    /* font */
    color: #383838;
    font-size: 28px;
    font-family: helvetica;
    text-shadow: #fffaee 0 0 10px;
    line-height: 1.4em;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    border-radius: 10px;
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    /* other */
    background-color:white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #888;
    width: 300px;
    height: 160px;
}
.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    padding: 10px 14px !important;
    margin: 0px 0px !important;
    font-size: 14px  !important;
    font-weight: normal  !important;
    color: #383838;
    background-color: transparent !important;
    border-radius: 10px;
    height: auto;
    border: .4px solid rgba(44, 62, 80, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    width: 100% !important;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    /* font */
    color: #383838;
    font-size: 18px;
    font-family: helvetica;
    /* remove blue underline */
    text-decoration: none;
    /* border */
    border: 0px;
    /* transitions */
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    /* other */
    background-color:rgba(202, 205, 206,.35);
    padding: 10px 30px;
    margin: 7px;
    -moz-box-shadow: 0 0 2px 2px #888;
    -webkit-box-shadow: 5px 5px 20px 20px #888;
    box-shadow: 2px 3px 8px 2px #888;
}
.btn i {
    padding-bottom: 5px;
    padding-right: 10px;
}

/* google map elements */
.pac-container:after{
    content:none !important;
}
#map {
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    padding: 10px !important;
  }
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
#infowindow-content .title {
    font-weight: bold;
}
#infowindow-content {
    display: none;
}
#map #infowindow-content {
    display: inline;
}
.gm-style .gm-style-iw, .gm-style .gm-style-iw a, .gm-style .gm-style-iw span, .gm-style .gm-style-iw label, .gm-style .gm-style-iw div {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    line-height: 1.4;
}

/* datatable elements */
.no-margin {
    margin: 0px !important;
}
.dataTables_filter, .dataTables_info { 
    display: none; 
}
.paginate_button active {
    display:none;
}
.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 0px !important;
    padding: 0px !important;
    margin-left: 0px !important;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: #333 !important;
    border: 0px solid transparent !important;
    border-radius: 0px !important;
}
/* background color on odd rows on tables */
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(56, 56, 56, 0.05);
}

/* center login page */
.login {
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* loader to save screen on network activity */
.overlayloader {
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 1035;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.loader {
    border: 16px solid #fffaee;
    border-top: 16px solid rgba(202, 205, 206,.35);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* validation */
label.error {
    margin-left: 20px;
    margin-top: 3px;
    color: red;
    float: left;
    position: relative;
}

/* jquery ui dialog box */
.ui-dialog {
    z-index: 1500!important;
    position:absolute !important;
    border-radius: 10px;
}
.ui-widget-header {
    background: transparent !important; 
    color: rgb(44, 62, 80);
    border: 0px;
}
.ui-widget-content { 
    color: #383838;
    font-size: 14px;
}
.ui-dialog-title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: -20px !important;
    margin-left: 25px !important;
}
.ui-dialog-titlebar-close { 
    width: 25px !important; 
    height: 25px !important;
    margin-top: 10px;
    outline: none;
    background: none !important;
    border: none !important;
}

/* app elements */
.form-card { 
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin: 30px;
    padding-bottom: 10px;
    width: 400px;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
}
.tablecontainer {
    width: 25%;
    height: 90%;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
    overflow: auto;
    position: relative;
}
.helpercontainer {
    background-color: rgba(56, 56, 56, 0.85);
    padding: 5px 10px 10px 10px;
    width: 35%;
    height: auto;
    opacity: 0.9;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
    overflow: auto;
}
.searchbar {
    width: 100%;
}
.form { 
    overflow: visible;
}
.dropdown-menu open {
    overflow: visible; 
}
.dropdown-menu inner { 
    overflow: visible; 
}
.dropdown-menu { 
    overflow: visible; 
}
.alternativeprompt {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
/* responsive app elements */
@media (max-width: 800px) {
    .tablecontainer {
        width: 90%;
        height: 40%;
        z-index: 0 !important;
    }
    .gm-style .gm-style-iw {
        z-index: 900 !important;
    }
    .form-card {
        width: 95%;
        margin: 10px;
    }
}