html, body, .container, .row, #column, #AddresForm, #column {
    width: 100% !important;
    height: 100% !important;
    padding-bottom: 0px !important;
    margin-bottom:0px; 
    overflow: hidden;
  }
  .body-content {
    padding: 0px !important;
    overflow: hidden !important;
  }
  #AddressForm, .row {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 0px !important;
  }
  #map {
    width:100% !important;
    height:100% !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    padding: 10px !important;
  }
  footer {
    display: none;
  }
  .navbar-head { 
    float: left;
    height: 50px;
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
  }
.form-card { 
    text-align: center;

    background-color: white;
    border-radius: 10px;
    margin-left: 75px;
    margin-bottom: 150px;
    width: 400px;
    box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.4);
    overflow: visible;
}
.form { 
  overflow: visible;
}
.gm-style-iw + div {
    display: none;
}
.gm-style .gm-style-iw {
    font-size: 16px;
}
.gm-style-iw { 
    text-align: center;
}
.dropdown-menu open {
    overflow: visible; 
}
.dropdown-menu inner { 
    overflow: visible; 
}
.dropdown-menu { 
  overflow: visible; 
}